.icon {
  cursor: pointer;
  display: inline-block;
}

.icon-square {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_violet {
    background-color: $color-violet;
  }
  &_yellow {
    background-color: $color-yellow;
  }
  &_red {
    background-color: $color-red;
  }
  &_blue {
    background-color: $color-blue;
  }
}

.icon-round {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: $color-light;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon_play {
  background: url('../assets/icons/play.svg') no-repeat center;
  width: 18px;
  height: 20px;
}
.icon_arrow {
  background: url('../assets/icons/arrow.svg') no-repeat center;
  width: 18px;
  height: 18px;
}
.icon_chain {
  background: url('../assets/icons/chain.svg') no-repeat center;
  width: 18px;
  height: 18px;
}
.icon_heart {
  background: url('../assets/icons/heart.svg') no-repeat center;
  width: 18px;
  height: 18px;
}
.icon_time {
  background: url('../assets/icons/time.svg') no-repeat center;
  width: 18px;
  height: 18px;
}

.icon_phone {
  background: url('../assets/icons/phone.svg') no-repeat center;
  width: 10px;
  height: 10px;
}
.icon_email {
  background: url('../assets/icons/email.svg') no-repeat center;
  width: 10px;
  height: 7px;
}


