.icon {
  cursor: pointer;
  display: inline-block;
}

.icon-square {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_violet {
    background-color: $color-violet;
  }
  &_yellow {
    background-color: $color-yellow;
  }
  &_red {
    background-color: $color-red;
  }
  &_blue {
    background-color: $color-blue;
  }
}

.icon_play {
  background: url('../assets/img/icons/play.svg') no-repeat center;
  width: 18px;
  height: 20px;
}
.icon_arrow {
  background: url('../assets/img/icons/arrow.svg') no-repeat center;
  width: 18px;
  height: 18px;
}
.icon_chain {
  background: url('../assets/img/icons/chain.svg') no-repeat center;
  width: 18px;
  height: 18px;
}
.icon_heart {
  background: url('../assets/img/icons/heart.svg') no-repeat center;
  width: 18px;
  height: 18px;
}
.icon_time {
  background: url('../assets/img/icons/time.svg') no-repeat center;
  width: 18px;
  height: 18px;
}


