{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off"
  }
}