html {
  font-size: 10px;
}

body {
  @extend %font-prime;
  @include font(1.6rem, 2.6rem, normal);
  color: $color-text;
  margin: 0;
  padding: 0;
}

h1 {
  @extend %font-additional;
  @include font(4.4rem, 5.4rem);
  color: $color-heading;
}

h2 {
  @include font(3.4rem, 4.6rem);
  @extend %heading-color;
}

h3 {
  @include font(2.4rem, 3.4rem);
  @extend %heading-color;
}

h4 {
  @include font(2.2rem, 3rem);
  @extend %heading-color;
}

h5 {
  @include font(2rem, 3rem, 600);
  @extend %heading-color;
}
