%transition {
  transition: all 0.3s ease-in-out;
}

%font-additional {
  font-family: 'Poppins', sans-serif;
}

%font-prime {
  font-family: 'Open sans', sans-serif;
}

%heading-color {
  color: $color-heading;
}