.about-us {
  padding: 66px 0 81px 0;
}

.about-us__title {
  margin: 0 0 15px 0;
  @include media-laptop {
    text-align: center;
  }
}

.about-us__description {
  margin: 0 0 45px 0;
  @include media-tablet {
    text-align: center;
  }
}


