.contact-us {
  background-color: $color-background;
  padding: 62px 0 82px;
  @include media-laptop {
    text-align: center;
  }
}

.contact-us__wrapper {
  @include media-laptop {
    flex-direction: column;
    justify-content: center;
  }

}
.contact-us__content {
  @include media-laptop {
    margin-bottom: 54px;
  }
  @include media-tablet {
    margin-bottom: 41px;
  }
}

.contact-us_line {
  margin-bottom: 19px;
}

.contact-us_textarea {
  width: 100%;
  height: 160px;
  resize: none;
}

.contact-us__description {
  margin: 0 0 59px 0;
}

.contact-us__contacts {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  gap: 11px;
  @include media-laptop {
    justify-content: center;
  }
}

.contact-us__link {
  padding-left: 11px;
  @include font(2.5rem, 2.6rem, 400);
  color: $color-heading;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.contact-us__form {
  textarea,
  input {
    border: 0;
    background-color: $color-light;
    border-radius: 5px;
    padding: 10px 20px;
    &:focus {
      outline: 2px solid $color-primary;
    }
  }
}

.contact-us_btn {
  min-width: 117px;
}
