.strategies {
 padding: 30px 0;
}

.strategies__wrapper {
  gap: 30px;
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__descriptions {
  margin: 0 0 24px;
}

.strategy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.strategy__wide {
  flex-basis: 66%;
}
.strategy-img {
  max-height: 200px;
  width: 100%;
}
.strategy-title {
  margin: 0 0 29px;
}
.strategy-container {
  padding: 24px 33px 26px 33px;
}

.strategies__tags {
  margin: 0 0 31px;
 ;
}