
.tool {
  @include media-laptop {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   flex-wrap: wrap;
  }
}

.tools_wrapper {
  padding-bottom: 90px;
  background: url('../assets/img/tools_bg.png') no-repeat center bottom;
  background-size: 100%;
}

.tools__title {
  max-width: 462px;
  margin: 111px auto 70px auto;
  text-align: center;
  @include media-laptop {
    margin: 72px auto 70px auto;
  }
}

.tool__title {
  margin: 30px 0 16px 0;
}

.tools-button {
  width: max-content;
  margin: 60px auto 0;
}
