.layout-4-columns {
  @include column(21%);
  @include media-laptop {
    @include column(38%);
    justify-content: center;
    gap: 71px;
  }
  @include media-mobile {
    @include column(100%);
    flex-direction: column;
    justify-content: center;
    gap: 47px;
  }
}

.layout-3-columns {
  @include column(31%);
  @include media-mobile {
    @include column(100%);
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
}

.layout-2-columns {
  @include column(48%);
  @include media-mobile {
    @include column(100%);
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
}
