.footer {
  padding: 58px 0;
}


.footer-logo {
  max-width: 198px;
}
.footer_wrapper {
  display: flex;
  gap:150px;
  justify-content: space-between;
  @include media-laptop {
    flex-direction: column;
    gap: 34px;
  }
}
.footer-navigation {
  flex-grow: 1;
}

.footer-navigation__links {
  margin: 0;
  padding: 0;
  & a {
    @extend %font-additional;
    @extend %transition;
    line-height: 3.5rem;
    color: $color-text;
    text-decoration: none;
    &:hover {
      color: $color-primary;
    }
  }
}

.footer-navigation__link,
.navigation__link {
  list-style: none;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}

.footer-navigation__title {
  margin: 0 0 15px;
}
